spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sokn?useSSL=false&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: admin
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        id:
          new_generator_mappings: true
    show-sql: true
  jackson:
      default-property-inclusion: non_null
      serialization:
        INDENT_OUTPUT: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: sokn.noreply@gmail.com
    password: SOKN2018
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8
